@import "tailwindcss";
@plugin "daisyui";

.line-clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.active{
  background-color: #016630;
  color: white;
}